<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentDelivery OR ContentManagement">
    <settings>
      <setting name="Sitecore.React.CustomCache.Enabled" value="true" />
      <setting name="Sitecore.React.CustomCache.MaxSize" role:require="ContentManagement" value="5MB" />
      <setting name="Sitecore.React.CustomCache.MaxSize" role:require="ContentDelivery" value="20MB" />
    </settings>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.React.Cache.Service.SitecoreCacheService, Sitecore.React" method="ClearCache" />
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.React.Cache.Service.SitecoreCacheService, Sitecore.React" method="ClearCache" />
      </event>
    </events>
  </sitecore>
</configuration>